[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flask = "*"
numpy = "*"
pandas = "*"
flask-cors = "*"
scipy="*"
scikit-learn="*"
matplotlib = "*"
scikit-build ="*"
cmake="*"
opencv-python = "*"

[requires]
python_version = "3.8.6"
