[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flask = "*"
numpy = "*"
pandas = "*"
flask-cors = "*"
scipy="*"
scikit-learn="*"
matplotlib = "*"

[requires]

python_version = "3.8"
